<div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Mattress</a></li>
                <li><a href="#">Bed</a></li>
                <li><a href="#">Sofa</a></li>
            </ul>

    </div>

    <ul class="products clearfix">
        <li ng-repeat="sofa in sofa">

        </li>
    </ul>
    <div class="filters">
        <form action="" method="post">
            <fieldset id="price">
                <p><b>Price</b></p>
                <p>Minimum: <textarea  ng-model="" rows="1" cols="10" name="minPrice"></textarea></p>
                <p>Maximum: <textarea  ng-model="" rows="1" cols="10" name="maxPrice"></textarea></p>
            </fieldset>
            <fieldset id="wood">
                <p><b>Carcass wood type:</b></p>
                <p><input name="wood" type="checkbox" value="alder"> Alder</p>
                <p><input name="wood" type="checkbox" value="pine"> Pine</p>
                <p><input name="wood" type="checkbox" value="beech"> Beech</p>
            </fieldset>
            <fieldset id="badSize">
                <p><b>Brand</b></p>
                <p><input name="badSize" type="radio" value="single"> Single bad</p>
                <p><input name="badSize" type="radio" value="oneAndHalf"> One and half bad</p>
                <p><input name="badSize" type="radio" value="double"> Double bad</p>
            </fieldset>
        </form>
    </div>
</div>