<div class="container">

    <ul class="products clearfix">
        <li class="product-wrapper">
            <a href="/#!/home/mattress" class="product">
                <div class="product-main">
                    <div class="product-photo">
                        <img src="../images/mattress.jpg" alt="">
                    </div>
                    <div class="product-text">
                        <h2 class = "produvt-name">Mattress</h2>
                    </div>
                </div>
            </a>
        </li>
        <li class="product-wrapper">
            <a href="/#!/home/sofa" class="product">
                <div class="product-main">
                    <div class="product-photo">
                        <img src="../images/sofa.jpg" alt="">
                    </div>
                    <div class="product-text">
                        <h2 class = "produvt-name">Sofa</h2>
                    </div>
                </div>
            </a>
        </li>
        <li class="product-wrapper">
            <a href="/#!/home/bed" class="product">
                <div class="product-main">
                    <div class="product-photo">
                        <img src="../images/bed.jpg" alt="">
                    </div>
                    <div class="product-text">
                        <h2 class = "produvt-name">Bed</h2>
                    </div>
                </div>
            </a>
        </li>
        <!--<li class="product-wrapper">-->
            <!--<a href="" class="product"></a>-->
        <!--</li>-->
        <!--<li class="product-wrapper">-->
            <!--<a href="" class="product"></a>-->
        <!--</li>-->
        <!--<li class="product-wrapper">-->
            <!--<a href="" class="product"></a>-->
        <!--</li>-->
        <!--<li class="product-wrapper">-->
            <!--<a href="" class="product"></a>-->
        <!--</li>-->
        <!--<li class="product-wrapper">-->
            <!--<a href="" class="product"></a>-->
        <!--</li>-->
        <!--<li class="product-wrapper">-->
            <!--<a href="" class="product"></a>-->
        <!--</li>-->
    </ul>
</div>