<div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Mattress</a></li>
                <li><a href="#">Bed</a></li>
                <li><a href="#">Sofa</a></li>
            </ul>
    </div>

    <ul class="products clearfix">
        <li ng-repeat="sofa in sofas" class="product-wrapper">
            <a href="/#!/home/sofa/detailed/{{sofa.id}}" class="product">
                <div class="product-main">
                    <div class="product-photo">
                        <img src="../images/sofa.jpg" alt="">
                    </div>
                    <div class="product-text">
                        <h2 class = "produvt-name">{{sofa.brand}}</h2>
                        <p>
                            Armrest: {{sofa.armrest}}<br/>
                            Number of seats: {{sofa.numOfSeats}}
                        </p>
                    </div>
                </div>
                <div class="product-details-wrap">
                    <div class="product-details">
                        <span class="product-price">
                            <b>{{sofa.price}} $</b>
                        </span>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <div class="sticky-block">
        <div class="inner">
            <div class="filters">
                <form action="оработчик" method="post">
                    <fieldset id="price">
                        <p><b>Price</b></p>
                        <p>Minimum: <textarea  ng-model="" rows="1" cols="10" name="minPrice"></textarea></p>
                        <p>Maximum: <textarea  ng-model="" rows="1" cols="10" name="maxPrice"></textarea></p>
                    </fieldset>
                    <fieldset id="armrest">
                        <p><b>Choose armrest type:</b></p>
                        <select name="armrest">
                            <option value="all">All types</option>
                            <option value="soft">Soft armrests</option>
                            <option value="wood">Wood armrests</option>
                            <option value="without">Without armrests</option>
                        </select>
                    </fieldset>
                    <fieldset id="brand">
                        <p><b>Brand</b></p>
                        <p><input name="brand" type="checkbox" value="IKEA"> IKEA</p>
                        <p><input name="brand" type="checkbox" value="Sky-soft"> Sky-soft</p>
                        <p><input name="brand" type="checkbox" value="Laretto"> Laretto</p>
                        <p><input name="brand" type="checkbox" value="Divan plus"> Divan plus</p>
                        <p><input name="brand" type="checkbox" value="Sofyno"> Sofyno</p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>