<div class="container">
    <p>
        <a href="/#!/home/sofa" class="button">Back</a>
    </p>
    <img src = "../images/sofa.jpg" class="informational_panel"/>
    <div class="product-info">
        <p>
            Brand: {{sofa.brand}}<br/>
            Armrest: {{sofa.armrest}}<br/>
            Number of seats: {{sofa.numOfSeats}}<br/>
            Price: {{sofa.price}} $<br/>
            Description: {{sofa.description}}
        </p>
        <p align="center">
            <a ng-if="userAuthentificated" ng-click="buy()" class="button">Buy</a>
        </p>
    </div>
    <div class="clear"> </div>
    <div class="feedback">
        <form action="" method="post">
            <p><b>Feedback:</b></p>
            <p><textarea  ng-model="feedbackText" rows="10" cols="100" name="text"></textarea></p>
            <p align="center">
                <a ng-click="submitFeedback()" class="button">Comment</a>
            </p>
        </form>
    </div>
    <div class="quality" ng-if="userAlreadyBoughtThisItem">
        <form name="rate">
            <h3><b>Estimate product:</b></h3>
            <fieldset  id="question1">
                <h4><p><b>General product quality:</b></p></h4>
                <label><input name="question1" ng-model="generalProductQuality" value="POSITIVE" type="radio"  checked> Perfect</label><br/>
                <label><input name="question1" ng-model="generalProductQuality" value="NEUTRAL" type="radio" > Good</label><br/>
                <label><input name="question1" ng-model="generalProductQuality" value="NEGATIVE" type="radio" > Bad</label><br/>
            </fieldset>
            <fieldset id="question2">
                <h4><p><b>Expected and real quality:</b></p></h4>
                <label><input name="question2" ng-model="expectedAndRealQuality" type="radio" value="POSITIVE" checked> Real quality better</label><br/>
                <label><input name="question2" ng-model="expectedAndRealQuality" type="radio" value="NEUTRAL"> Quality the same</label><br/>
                <label><input name="question2" ng-model="expectedAndRealQuality" type="radio" value="NEGATIVE"> Real quality worse</label><br/>
            </fieldset>
            <fieldset id="question3">
                <h4><p><b>Would you recommend this product?</b></p></h4>
                <label><input name="question3" ng-model="recommendThisProduct" type="radio" value="POSITIVE" checked> Yes</label><br/>
                <label><input name="question3" ng-model="recommendThisProduct" type="radio" value="NEGATIVE"> No</label><br/>
            </fieldset>
            <fieldset id="question4">
                <h4> <p><b>Delivery speed:</b></p></h4>
                <label><input name="question4" ng-model="deliverySpeed" type="radio" value="POSITIVE" checked> Delivered on time</label><br/>
                <label><input name="question4" ng-model="deliverySpeed" type="radio" value="NEGATIVE"> Delivered after deadline</label><br/>
            </fieldset>
            <p align="center">
                <a ng-click="submitRates()" class="button">Estimate</a>
            </p>
        </form>
    </div>
    <div class="clear"> </div>
    <div class="container" >
        <div class="row">
            <div class="col-sm-12">
                <h3>Comments</h3>
            </div>
        </div>
        <div class="row" ng-repeat="feedback in feedbacks">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
            </div>

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{feedback.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>