<div class="container">
    <p>
        <a href="/#!/home/sofa" class="button">Back</a>
    </p>
    <img src = "../images/sofa.jpg" class="informational_panel"/>
    <div class="product-info">
        <p>
            Brand: {{sofa.brand}}<br/>
            Armrest: {{sofa.armrest}}<br/>
            Number of seats: {{sofa.numOfSeats}}<br/>
            Price: {{sofa.price}} $<br/>
            Description: {{sofa.description}}
        </p>
        <p align="center">
            <a ng-if="userAuthentificated" ng-click="buy()" class="button">Buy</a>
        </p>
    </div>
</div>