<div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Mattress</a></li>
                <li><a href="#">Bed</a></li>
                <li><a href="#">Sofa</a></li>
            </ul>
    </div>

    <ul class="products clearfix">
        <li ng-repeat="sofa in sofas" class="product-wrapper">
            <a href="/#!/home/sofa/detailed/{{sofa.id}}" class="product">
                <div class="product-main">
                    <div class="product-photo">
                        <img src="../images/sofa.jpg" alt="">
                    </div>
                    <div class="product-text">
                        <h2 class = "produvt-name">{{sofa.brand}}</h2>
                        <p>
                            Armrest: {{sofa.armrest}}<br/>
                            Number of seats: {{sofa.numOfSeats}}
                        </p>
                    </div>
                </div>
                <div class="product-details-wrap">
                    <div class="product-details">
                        <span class="product-price">
                            <b>{{sofa.price}} $</b>
                        </span>

                    </div>

                </div>

            </a>
        </li>
    </ul>
</div>