<div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Mattress</a></li>
                <li><a href="#">Bed</a></li>
                <li><a href="#">Sofa</a></li>
            </ul>
    </div>

    <ul class="products clearfix" id="priceFrom priceTo all soft wood without brandIKEA brandSky brandLaretto brandDivan brandSofyno">
        <li ng-repeat="sofa in sofas" class="product-wrapper">
            <a href="/#!/home/sofa/detailed/{{sofa.id}}" class="product">
                <div class="product-main">
                    <div class="product-photo">
                        <img src="../images/sofa.jpg" alt="">
                    </div>
                    <div class="product-text">
                        <h2 class = "produvt-name">{{sofa.brand}}</h2>
                        <p>
                            Armrest: {{sofa.armrest}}<br/>
                            Number of seats: {{sofa.numOfSeats}}
                        </p>
                    </div>
                </div>
                <div class="product-details-wrap">
                    <div class="product-details">
                        <span class="product-price">
                            <b>{{sofa.price}} $</b>
                        </span>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <div class="filters">
        <form action="" method="get">
            <fieldset id="price">
                <p><b>Price</b></p>
                <label><p>Minimum: <input type="text" ng-model="priceFrom" ng-change="siteFilter()" name="priceFrom"></p></label>
                <label><p>Maximum: <input type="text" ng-model="priceTo" ng-change="siteFilter()" name="priceTo"></p></label>
            </fieldset>
            <fieldset id="armrest">
                <p><b>Choose armrest type:</b></p>
                <select name="armrestOptions" ng-model="armrestOptions" ng-change="siteFilter()">
                    <option ng-model="armrest" value="all" id="all" selected>All types</option>
                    <option ng-model="armrest" value="soft" id="soft">Soft armrests</option>
                    <option ng-model="armrest" value="wood" id="wood">Wood armrests</option>
                    <option ng-model="armrest" value="without" id="without">Without armrests</option>
                </select>
            </fieldset>
            <fieldset id="brand">
                <p><b>Brand</b></p>
                <p><input ng-change="siteFilter()" ng-model="brandIKEA" name="brandIKEA" type="checkbox" value="IKEA"> IKEA</p>
                <br/>
                <p><input ng-change="siteFilter()" ng-model="brandSkySoft" name="brandSkySoft" type="checkbox" value="SkySsoft"> SkySoft</p>
                <br/>
                <p><input ng-change="siteFilter()" ng-model="brandLaretto" name="brandLaretto" type="checkbox" value="Laretto"> Laretto</p>
                <br/>
                <p><input ng-change="siteFilter()" ng-model="brandDivanPlus" name="brandDivanPlus" type="checkbox" value="DivanPlus"> DivanPlus</p>
                <br/>
                <p><input ng-change="siteFilter()" ng-model="brandSofyno" name="brandSofyno" type="checkbox" value="Sofyno"> Sofyno</p>
            </fieldset>
        </form>
    </div>
</div>